{% extends "DashboardBundle::layout.html.twig" %}

{% block content %}
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script type="text/javascript">
    $(function () {
        function createGraph(){
            $.ajax({
                url:"{{path(route, {daily:isDaily})}}"
            }).done(function(dataJson) {
                //console.log(dataJson)
                $('#container').highcharts({
                    data: {
                        columns: dataJson
                    },
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: '{{title}}'
                    },
                    yAxis: {
                        allowDecimals: false,
                        title: {
                            text: 'Units'
                        }
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                this.point.y + ' ' + this.point.name.toLowerCase();
                        }
                    }
                });
            });
        }
        
        createGraph();

        setInterval(createGraph, 30000);

    });
    </script>
{% endblock %}