{% extends "DashboardBundle:Lists:list.html.twig" %}
{% block list_title %}
    Business unit list
{% endblock %}

{% block options %}
    <a href="{{ path('dashboard_business_unit_create') }}">
        <span class="glyphicon glyphicon-plus"></span> Add a business unit
    </a>
{% endblock %}

{% block list_content %}
    {% for bu in business_units %}
        <li class="list-group-item">
            <a href="{{ path('dashboard_business_unit_edit', {"bu":bu.getId}) }}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a> 
            {{bu.getName}} 
        </li>
    {% endfor %}
{% endblock %}